// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-wallet {
  padding: 30px;
  padding-top: 0;
  top: 10vh;
}

.tabs {
  margin-left: -40px !important;
  margin-right: -40px !important;
}
